<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Olusola Oseni. It uses data from <strong>mapbox.com</strong> and <strong>weatherstack.com</strong></p>
        <img class="portrait" src="/img/IMG-20161009-WA0001 (1).jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>